In [ ]:
import pandas as pd
import numpy a)s np
df=pd DataFrame({'A'['sai','sude','wer','fgh','hykj','trtg'],'B'['one','two','three','one','two','three'],'c':np.randam.rand int('})

In [1]:


import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['aaa','bbb','ccc','ddd','eee','fff'],'B':['one','two','three','one','two','three'],'C':np.random.randint(5,size=6),'D':np.random.randint(5,size=6),'E':np.random.randint(5,size=6)})
print(df)

     A      B  C  D  E
0  aaa    one  2  2  2
1  bbb    two  4  4  2
2  ccc  three  2  0  3
3  ddd    one  2  3  3
4  eee    two  3  0  2
5  fff  three  3  3  2

In [5]:


import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['aaa','bbb','ccc','ddd','eee','fff'],'B':['one','two','three','one','two','three'],'C':np.random.randint(5,size=6),'D':np.random.randint(5,size=6),'E':np.random.randint(5,size=6)})
df1= df.groupby('A',as_index=False)['C'].sum()
print(df1)

     A  C
0  aaa  0
1  bbb  3
2  ccc  1
3  ddd  2
4  eee  0
5  fff  4

In [6]:

import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['aaa','bbb','ccc','ddd','eee','fff'],'B':['one','two','three','one','two','three'],'C':np.random.randint(5,size=6),'D':np.random.randint(5,size=6),'E':np.random.randint(5,size=6)})
df1= df.groupby('B',as_index=False)['C'].sum()
print(df1)

       B  C
0    one  1
1  three  0
2    two  2

In [9]:

import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['aaa','bbb','ccc','ddd','eee','fff'],'B':['one','two','three','one','two','three'],'C':np.random.randint(5,size=6),'D':np.random.randint(5,size=6),'E':np.random.randint(5,size=6)})
df1= df.groupby(['A','B'],as_index=False)[['C','D']].sum()
print(df1)

     A      B  C  D
0  aaa    one  2  3
1  bbb    two  4  2
2  ccc  three  3  0
3  ddd    one  1  2
4  eee    two  0  4
5  fff  three  0  0

In [16]:
import pandas as pd
df=pd.DataFrame({'catyary':['A','B','C','A','B','C'],'sales':[100,200,150,150,130,200],'profit':[10,13,20,25,30,15]})
print("pofital DataFrame:\n",df)
df_grouped=df.groupby('catyary').agg({'sales':['sum','mean'],'profit':['sum','max']})
print(df_grouped)

pofital DataFrame:
   catyary  sales  profit
0       A    100      10
1       B    200      13
2       C    150      20
3       A    150      25
4       B    130      30
5       C    200      15
        sales        profit
          sum   mean    sum max
catyary
A         250  125.0     35  25
B         330  165.0     43  30
C         350  175.0     35  20