In [4]:
import pandas  as pd
d1={"name":["sai","sub","POD"],"age":[20,21,22]}
d2={"qualified":[True,True,False]}
df1=pd.DataFrame(d1)
print(df1)

  name  age
0  sai   20
1  sub   21
2  POD   22

In [5]:
df2=pd.DataFrame(d2)
print(df2)
newdf=df1.join(df2)
print(newdf)

   qualified
0       True
1       True
2      False
  name  age  qualified
0  sai   20       True
1  sub   21       True
2  POD   22      False

In [9]:
d1={"name":["sai","sri","pavi"],"age":[20,21,22]}
d2={"name":["yuvi","rithika","sanjay"],"age":[20,21,22]}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf1=df2.merge(df1,on='age')
print(newdf1)

   name  age
0   sai   20
1   sri   21
2  pavi   22
      name  age
0     yuvi   20
1  rithika   21
2   sanjay   22
    name_x  age name_y
0     yuvi   20    sai
1  rithika   21    sri
2   sanjay   22   pavi

In [14]:
df=pd.DataFrame({"team":['A','B','C','D'],'points':[90,56,78,88],'assits':[12,34,23,44],'rebounds':[56,43,55,12]})
x=pd.melt(df,id_vars='team',value_vars=['points','assits','rebounds'])
print(x)

   team  variable  value
0     A    points     90
1     B    points     56
2     C    points     78
3     D    points     88
4     A    assits     12
5     B    assits     34
6     C    assits     23
7     D    assits     44
8     A  rebounds     56
9     B  rebounds     43
10    C  rebounds     55
11    D  rebounds     12