In [2]:
import pandas as pd
d=pd.read_excel("/Users/student/Downloads/17.xlsx")
print(d)

    Unnamed: 0      NAME  GENDER        DOJ   SALARY LAST LOGIN TIME  BONUS  \
0            1     ADHIL    MALE 2024-03-02    30000        14:00:00    5.0
1            2     VARUN    MALE 2022-03-01    35000          2:30PM   10.0
2            3     ADHIL    MALE 1990-08-31    90000         10:00PM    3.0
3            4   YUVARAJ    MALE 2006-08-04    80000         10:30PM    4.0
4            5    PUGAZH    MALE 1982-03-31   100000         10:00AM    6.0
5            6     YADHU    MALE 2008-01-20   150000         10:10PM    2.0
6            7      RAVI    MALE 2006-03-07   200000         10:30PM    1.5
7            8       RAM    MALE 1972-11-17   300000          8:01PM    6.8
8            9     RAHUL    MALE 2009-06-06    20000          5:00PM    9.5
9           10  NARENDAR    MALE 2004-04-01    10000          1:30PM    7.0
10          11  ANANDHAN    MALE 2020-08-06    25000          8:30PM    9.0
11          12  KEERTHNA  FEMALE 2006-09-05    45000          5:00AM    3.5
12          13   DEEPIKA  FEMALE 2006-01-24    45000          4:30PM    6.7
13          14       ABI    MALE 2008-06-15    50000          5:40PM    2.3
14          15   ABHISEK    MALE 1990-08-31    70000          6:00PM    5.8
15          16    DANIEL    MALE 1976-05-12    22000          6:15PM    2.9
16          17    DHARUN    MALE 2009-06-06    11000          7:40PM    3.0
17          18    ELANGO    MALE 1982-03-31    69000          8:01PM    5.0
18          19   DARSHAN    MALE 1976-05-12    46000          1:30PM    8.0
19          20      BABU    MALE 2006-07-05    70000          5:40PM    2.0
20          21     BAVAN    MALE 2025-01-20    37000         10:10PM    4.0
21          22   CHANDRA    MALE 2025-01-05    78000          5:30AM    6.0
22          23      REVI    MALE 1990-08-05    20000          7:30AM    9.0
23          24      BALA    MALE 1976-08-23    10000          6:15AM    3.0
24          25    BHAVYA  FEMALE 1976-05-12  1200000          5:00PM    8.0

   SENIOR MANAGER TEAM
0             YES    A
1              NO    B
2             YES    A
3              NO    A
4              NO    A
5             YES    A
6              NO    B
7              NO    A
8              NO    B
9              NO    B
10            YES    B
11             NO    B
12             NO    A
13            YES    A
14             NO    B
15             NO    A
16             NO    B
17            YES    B
18             NO    A
19            YES    B
20             NO    A
21             NO    B
22            YES    B
23             NO    B
24            YES    B

In [6]:
df=pd.DataFrame(d)
print("columns:",df.columns)

columns: Index(['Unnamed: 0', 'NAME', 'GENDER', 'DOJ', 'SALARY', 'LAST LOGIN TIME',
       'BONUS', 'SENIOR MANAGER', 'TEAM'],
      dtype='object')

In [7]:
df=pd.DataFrame(d)
print(df.shape)

(25, 9)

In [8]:
print("NAME",df['NAME'])

NAME 0        ADHIL
1        VARUN
2        ADHIL
3      YUVARAJ
4       PUGAZH
5        YADHU
6         RAVI
7          RAM
8        RAHUL
9     NARENDAR
10    ANANDHAN
11    KEERTHNA
12     DEEPIKA
13         ABI
14     ABHISEK
15      DANIEL
16      DHARUN
17      ELANGO
18     DARSHAN
19        BABU
20       BAVAN
21     CHANDRA
22        REVI
23        BALA
24      BHAVYA
Name: NAME, dtype: object

In [9]:
print("TEAM:",df['TEAM'])

TEAM: 0     A
1     B
2     A
3     A
4     A
5     A
6     B
7     A
8     B
9     B
10    B
11    B
12    A
13    A
14    B
15    A
16    B
17    B
18    A
19    B
20    A
21    B
22    B
23    B
24    B
Name: TEAM, dtype: object

In [10]:
print(df[0:7])

   Unnamed: 0     NAME GENDER        DOJ  SALARY LAST LOGIN TIME  BONUS  \
0           1    ADHIL   MALE 2024-03-02   30000        14:00:00    5.0
1           2    VARUN   MALE 2022-03-01   35000          2:30PM   10.0
2           3    ADHIL   MALE 1990-08-31   90000         10:00PM    3.0
3           4  YUVARAJ   MALE 2006-08-04   80000         10:30PM    4.0
4           5   PUGAZH   MALE 1982-03-31  100000         10:00AM    6.0
5           6    YADHU   MALE 2008-01-20  150000         10:10PM    2.0
6           7     RAVI   MALE 2006-03-07  200000         10:30PM    1.5

  SENIOR MANAGER TEAM
0            YES    A
1             NO    B
2            YES    A
3             NO    A
4             NO    A
5            YES    A
6             NO    B

In [12]:
print("Particular person details:",df.loc[7])

Particular person details: Unnamed: 0                           8
NAME                               RAM
GENDER                            MALE
DOJ                1972-11-17 00:00:00
SALARY                          300000
LAST LOGIN TIME                 8:01PM
BONUS                              6.8
SENIOR MANAGER                      NO
TEAM                                 A
Name: 7, dtype: object

In [18]:
print(d['SALARY']==14500)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
Name: SALARY, dtype: bool

In [19]:
print(d['SALARY']/23)

0      1304.347826
1      1521.739130
2      3913.043478
3      3478.260870
4      4347.826087
5      6521.739130
6      8695.652174
7     13043.478261
8       869.565217
9       434.782609
10     1086.956522
11     1956.521739
12     1956.521739
13     2173.913043
14     3043.478261
15      956.521739
16      478.260870
17     3000.000000
18     2000.000000
19     3043.478261
20     1608.695652
21     3391.304348
22      869.565217
23      434.782609
24    52173.913043
Name: SALARY, dtype: float64