In [6]:
import pandas as pd

In [25]:
emp=pd.Series(['Barath','Balaji','Bhavan','Chandra','Geeth'])
id1=pd.Series([12,11,14,16,26])
frame={'Emp':emp,'Id':id1}
result=pd.DataFrame(frame)
print(result)

       Emp  Id
0   Barath  12
1   Balaji  11
2   Bhavan  14
3  Chandra  16
4    Geeth  26

In [26]:
print("Extracting one column:\n")
print(result['Emp'])

Extracting one column:

0     Barath
1     Balaji
2     Bhavan
3    Chandra
4      Geeth
Name: Emp, dtype: object

In [27]:
print("Adding new columns :\n")
result['age']=pd.Series([19,20,15,18,24])
print(result)

Adding new columns :

       Emp  Id  age
0   Barath  12   19
1   Balaji  11   20
2   Bhavan  14   15
3  Chandra  16   18
4    Geeth  26   24

In [28]:
print("Deleting new column:\n")
del result['age']
print(result)

Deleting new column:

       Emp  Id
0   Barath  12
1   Balaji  11
2   Bhavan  14
3  Chandra  16
4    Geeth  26

In [29]:
print("Extraction of the second row:\n")
print(result.loc[1])

Extraction of the second row:

Emp    Balaji
Id         11
Name: 1, dtype: object

In [30]:
print("Slice rows :\n",result[1:4])

Slice rows :
        Emp  Id
1   Balaji  11
2   Bhavan  14
3  Chandra  16

In [32]:
d2=pd.DataFrame([['Chelliah',17],['Bhaavya',15]],columns=['Emp','Id'])
print("Adding new row values:\n",pd.concat([result,d2]))

Adding new row values:
         Emp  Id
0    Barath  12
1    Balaji  11
2    Bhavan  14
3   Chandra  16
4     Geeth  26
0  Chelliah  17
1   Bhaavya  15

In [37]:
print("Deleting particular row:\n",result.drop(4))

Deleting particular row:
        Emp  Id
0   Barath  12
1   Balaji  11
2   Bhavan  14
3  Chandra  16